<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="4" android:versionName="0.3.3b"
    package="com.synthable.wifispy" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AccessPointListActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WifiApDetails"/>
        <activity android:name=".WifiMap" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name=".services.WifiSpyService"/>
        <!-- <receiver android:name=".ScanResultReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver> -->
        <uses-library android:name="com.google.android.maps"/>
        <provider
            android:authorities="com.synthable.wifispy.providers.accesspointprovider" android:name="com.synthable.wifispy.providers.AccessPointProvider"/>
        <activity android:name=".HomeActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="4"/>
    <supports-screens android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true"
	/>
</manifest>
